body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background: #78B7D0;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff8f0e;
}

h1 {
  margin-left: 30px;
}

.right-cont {
  display: flex;
  align-items: center;
  margin: 10px;
}

#units {
  font-size: 1.25rem;
  min-width: 200px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #16325B;
  border-radius: 10px;
  background-color: #ffd760;;
}

#units:hover {
  background-color: #b99c44;;
}

#submit {
  padding: 15px;
}

.layout-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form-location {
    border: 2px solid #16325B;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ffd760;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 1.25rem;
}

.weather-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #16325B;
  border-radius: 10px;
  background: #fdf9ec;
  padding: 30px;
  margin: 30px;
}

.weather-icon {
  margin-right: 50px;
  transform: scale(1.5);
}

.address {
    font-size: 2rem;
    font-weight: 600;
}

.gif-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 2px solid #16325B;
  border-radius: 10px;
  background: #fdf9ec;
  padding: 30px;
  font-weight: 600;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 2.25rem;
  }

  #units {
    font-size: 1rem;
    min-width: 125px;
    padding: 15px 10px;
    margin: 10px;
  }

  .form-location {
    padding: 10px;
    background: #ffd760;
  }

  input {
    padding: 5px;
    margin: 10px;
    font-size: 1rem;
  }

  #submit {
    padding: 5px;
  }

  .address {
    font-size: 1.75rem;
 }
}

@media (max-width: 700px) {
  body {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #units {
    font-size: 1rem;
    min-width: 125px;
    padding: 10px 5px;
    margin: 5px;
  }

  .form-location {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #ffd760;
  }

  input {
    margin: 5px;
    font-size: 1rem;
    max-width: 150px
  }

  #submit {
    padding: 2px 30px;
  }

  .address {
    font-size: 1.25rem;
 }
}