body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background: #78B7D0;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff8f0e;
}

h1 {
  margin: 30px;
}

.right-cont {
  display: flex;
  align-items: center;
  margin: 10px;
}

#units {
  font-size: 1.25rem;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #16325B;
  border-radius: 10px;
  background-color: #ffd760;;
}

#units:hover {
  background-color: #b99c44;;
}

#submit {
  padding: 15px;
}

.layout-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form-location {
    border: 2px solid #16325B;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ffd760;
    height: 80%;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 1.25rem;
}

.weather-cont {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #16325B;
  border-radius: 10px;
  background: #fdf9ec;
  padding: 30px;
  margin: 30px;
}

.weather-icon {
  height: 50px;
  margin-right: 50px;
}

.address {
    font-size: 2rem;
    font-weight: 600;
}

.btn-menu-drop {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .btn-menu-drop:hover,
  .btn-menu-drop:focus {
    background-color: #2980b9;
  }
  
  .drop-down {
    position: relative;
    display: inline-block;
  }
  
  .drop-down-cont {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .drop-down-cont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .drop-down-content a:hover {
    background-color: #ddd;
  }
  
  .visible {
    display: block;
  }